@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* color: white; */
    background-image: linear-gradient(to bottom, #caf8a6, #fff5dc, transparent );
  }
 /* Add styles for the scroll buttons */
.scroll-button {
  cursor: pointer;
}

/* Add styles for the scrolling container */
.scroll-container {
  scroll-behavior: smooth;
  display: flex;
  transition: scroll 0.3s ease-out;
  overflow-x: auto;
  overscroll-behavior-x: contain;
}

/* Style for each card */
/* Customize as needed */
/* .w-64, .bg-white, .p-4, .rounded-lg, .shadow-md, etc. */

}